@using GrovemoorSite.Pages.Games.IdleTest.Models
<h3>MarketView</h3>

<div>
    @AutoLoad.Items[ItemType.Seed].Name
    <button class="flex flex-row" disabled="@(@AutoLoad.Items[ItemType.Seed].BuyPrice >= Inventory.Money ? "false" : "true")" @onclick="@(() => BuyItem(@AutoLoad.Items[ItemType.Seed]))">
        @AutoLoad.Items[ItemType.Seed].BuyPrice
        <span class="material-symbols-outlined">
            universal_currency_alt
        </span>
    </button>
</div>

@code {

    private void BuyItem(Item item)
    {
        Inventory.Money -= item.BuyPrice;
        Inventory.AddItem(item.Type);
    }
}
